<routes>
    <control>
        <command path="/" class="\App\Commands\DefaultCommand">
            <view name="main"/>
            <status value="CMD_ERROR">
                <view name="error"/>
            </status>
        </command>
        <command path="/listvenues" class="\App\Commands\ListVenues">
            <view name="listvenues"/>
        </command>
        <command path="/quickaddvenue" class="\App\Commands\AddVenue">
            <view name="quickadd"/>
        </command>
        <command path="/addvenue" class="\App\Commands\AddVenue">
            <view name="addvenue"/>
            <status value="CMD_OK">
                <forward path="/addspace"/>
            </status>
        </command>
        <command path="/addspace" class="\App\Commands\AddSpace">
            <view name="addspace"/>
            <status value="CMD_OK">
                <forward path="/listvenues"/>
            </status>
        </command>
    </control>
</routes>